@media(min-width:400px){
  .container2 {
      display: flex;
  }
}

/* .container1 {

}
.container3 {

} */


.header {
  color: black;
  background-color: #00B7EB;
}

.hero {
  background-color: #FF0000;
  position: relative;
}

.content {
  text-align: left;
  background-color: #00FF00;
}

.sidebar {
background-color: #800080;
}

.footer {
  background-color: #444444;
  text-align: left;
}